// $rhap_theme-color: #dc1414 !default;   // Color of all buttons and volume/progress indicators
// $rhap_background-color: #cb1717 !default; // Color of the player background
// $rhap_bar-color: #e4e4e4 !default;     // Color of volume and progress bar
// $rhap_time-color: #333 !default;       // Font color of current time and duration
// $rhap_font-family: inherit !default; 


.rhap_container {
    background: #f7f7f9;
  }
  
  .rhap_controls-section {
    margin-bottom: 0px;
  }
  
  .rhap_progress-section {
    height: 20px;
    
  }
  
  .rhap_main-controls-button {
    width: 80px !important;
    height: 50px !important;
  }
  
  .rhap_main-controls-button {
    width: 50px;
    height: 50px;
    display: block;
  }
  
  .rhap_main-controls-button svg {
    color: #FB6F92;
    width: 80%;
    height: 80%;
  }
  .rhap_progress-filled,
  .rhap_progress-indicator {
  
    background-color: #FB6F92 !important;
  }
  
  .rhap_button-clear.rhap_volume-button {
    color: #FB6F92 !important;
  }
  
  .rhap_volume-bar, .rhap_volume-indicator {
    background-color: #FB6F92;
  }