section.upload-infor {
    width: 100%;
height: 400px;
 
    display: flex;
  .image-uploader {
    height: 380px;
    padding: 10px;
  
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .image-box {
      width:85%;
      height: 80%;
      background-color: #ccc;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .info-uploader{
    width: 60%;
    height:420px;
    padding-inline-start: 17px;
    margin-block-start: 30px;
    .info-upload-container{
        display: flex;
        flex-direction: column;
        row-gap: 24px;
       
    }
  }
}
