.music-player{
  
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    height: 100px !important;
}
.music-player-author{
    background-color: #f7f7f9;
    height: auto;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    // text-align: center;
}

