.slick-prev:before {
  display: none !important;
}
.slick-next:before {
  display: none !important;
}
.carousel-element {
  height: 500px;

  img {
    width: 100%;
    height: 100%;
  }
}
.carousel-track-element {
  height: 200px;
  width: 100px;


  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
 
}
.slick-dots {
  margin-bottom: 30px !important;
}
.slick-active {
}
.slick-dots {
  li {
    button:before {
      font-size: 16px;
    }
  }
}
/* the slides */
//  .slick-slide {
//     margin: 0 27px;
// }

/* the parent */
.slick-arrow{
 
  position: absolute;
  &.slick-prev{
      z-index: 999;
  }
  &.slick-next{
    z-index: 999;
      
  }
}