.carousel-container{

    .slick-slide {
        margin: 0 17px;
        width: 200px;
      }
      .slick-list {
        margin: 0 -10px;
      }
      .slick-arrow{
        top: 94px;
        position: absolute;
        &.slick-prev{
            z-index: 999;
        }
        &.slick-next{
          z-index: 999;
            
        }
      }
    
}