.auth-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}
.auth-form-container {
  box-shadow: 10px 10px 15px 13px rgba(0, 0, 0, 0.1);
  height: 70vh;
  width: 40vw;
  background-color: #ffffff;
  .auth-form-header {
    margin-bottom: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    // background-color: aqua;
    margin-top: 10px;
    .header-logo {
      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-color: rgb(238, 231, 231);
    }
    h2 {
      bottom: -10px;
      position: absolute;
      display: block;
      font-size: 15px;
    }
  }

  .separator {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .separator::before,
  .separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #000;
    opacity: 0.1;
  }

  .separator:not(:empty)::before {
    margin-right: 0.25em;
  }

  .separator:not(:empty)::after {
    margin-left: 0.25em;
  }
  .auth-form-footer {
    margin-top: 0px;
    margin-bottom: 20px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-logos {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;

      .google-icon,
      .github-icon {
        font-size: 40px;
      }
    }
  }
}
